<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ead xsi:schemaLocation="urn:isbn:1-931666-22-9 http://www.loc.gov/ead/ead.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://www.w3.org/1999/xlink" xmlns="urn:isbn:1-931666-22-9">
<eadheader repositoryencoding="iso15511" countryencoding="iso3166-1" dateencoding="iso8601" langencoding="iso639-2b">
<dsc>
<c01 level="series"><did><unittitle>{{title}}</unittitle><unitdate type="inclusive" normal="{{dateBegin}}/{{dateEnd}}">{{dateExpression}}</unitdate><unitdate type="bulk" normal="{{dateBulkBegin}}/{{dateBulkEnd}}"></unitdate></did>
</dsc>
</ead>
